


.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-container {
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
  }
  
  
  .navbar-logo {
    color: yellow;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Navigation menu */
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 5px;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .nav-links:hover {
    background-color: blue;
  }
  
  /* Dropdown menu */
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: grey;
    display: none;
    list-style: none;
    padding: 10px 0;
    margin: 0;
  }
  
  .dropdown-item {
    margin: 0;
  }
  
  .dropdown-link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .dropdown-link:hover {
    background-color: blue;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  